<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime enableVersionHeader="false" />
      <customErrors mode="On" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="Server" />
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
          <remove name="X-AspNetMvc-Version" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" allowHighBitCharacters="false" allowDoubleEscaping="false">
          <verbs>
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PATCH" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="HEAD" allowed="false" />
            <add verb="CONNECT" allowed="false" />
            <add verb="COPY" allowed="false" />
            <add verb="LINK" allowed="false" />
            <add verb="UNLINK" allowed="false" />
            <add verb="PURGE" allowed="false" />
            <add verb="PROPFIND" allowed="false" />
            <add verb="VIEW" allowed="false" />
            <add verb="TRACE" allowed="false" />
            <add verb="MKCOL" allowed="false" />
            <add verb="PROPPATCH" allowed="false" />
            <add verb="LOCK" allowed="false" />
            <add verb="UNLOCK" allowed="false" />
          </verbs>
        </requestFiltering>
      </security>
      <httpErrors errorMode="Custom">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" subStatusCode="-1" path="/api/evaluacion-periodo/v1/error/notfound" prefixLanguageFilePath="" responseMode="ExecuteURL" />
      </httpErrors>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>